.gd-card {
  border-radius: 10px;
  /* border: 3px solid #E91C2C; */
  border: 3px solid rgb(59, 59, 59); 
  background: rgb(59, 59, 59);
  margin: auto;
  width: 100%;
  height: 86.5%;
  overflow: scroll;
}

.top-card {
  /*background: #ffffff;*/
  width: 100%;
}

html {
  max-width: 100%;
  overflow: hidden;
}

* {
  font-family: 'lato-regular';
}

agm-map {
  width: 100%;
  height: 300px;
}

/* Typography */

h1,
h2,
h3,
h4,
h6 {
  font-family: 'lato-bold';
}


h1 {
  font-size: 16px;
  font-weight: normal;
}

h4 {
  font-size: 14px;
  font-weight: normal;
}

h6 {
  font-size: 80px;
}

.u-copy {
  font-size: 15px;
  line-height: 1.5;
}


div.gallery {
  margin: 5px;
  /* border: 1px solid #ccc; */
  float: left;
  width: 180px;
}

div.gallery img {
  width: auto;
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

button {
  height: 18px ;
  min-width: 20px ;
  font-size: 13px ;
  line-height: 0px; 
  /* background-color: #2358AC */

}

md-toolbar.black {
  background: transparent;
  z-index: 10;
}

.u-title {
  font-family: 'oswald-regular';
  font-size: 45px;
  text-transform: uppercase;
}

.u-subtitle {
  font-size: 25px;
}

.u-mt {
  margin-top: 15px;
}

.u-mtbig {
  margin-top: 40px;
}

.u-pt {
  padding-top: 15px;
}

.u-pb {
  padding-bottom: 15px;
}

.u-pv {
  padding-bottom: 15px;
  padding-top: 15px;
}

.u-mb {
  margin-bottom: 15px;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-pb30 {
  padding-bottom: 50px;
}

.u-inline-block {
  display: inline-block;
  vertical-align: middle;
}

.u-image {
  max-width: 100%;
}

.u-image:hover {
  cursor: pointer;
}

.banner {
  background: black;
  height: 340px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -10;
}

.banner__content,
.banner__image {
  height: inherit;
  width: inherit;
}

.banner__content > .banner__image {
  object-fit: cover;
}

.banner__content:after {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #393939;
  content: "";
  opacity: .3;
}

/*
* Use toolbar height (220px) and banner height to calculate top margin of content container
*/
.u-wrapper--first {
  margin-top: calc(340px - 220px);
  margin-bottom: 30px;
}

.u-wrapper {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  
}

.u-1\/2 {
  width: 50%;
}

.u-button__date {
  width: 100px;
}

::ng-deep .mat-toolbar-row {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep .mat-toolbar-row--slim {
  height: auto !important;
}

.tab-wrapper {
  max-height: 80vh;
  padding: 15px;
  overflow: auto;
}

/* Themes and utilities */
.t-white {
  background: white;
  color: black;
}

.t-light {
  background: #f7f7f7;
  color: black;
}

.u-align-center {
  text-align: center;
}

.maudioEmbed {
  margin: 0 !important;
}

.c-icon {
  height: 13px;
  width: 13px;
}

/* Circular images */

.c-image--circular {
  background-color: #393939;
  border-radius: 50%;
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 0 auto;
}

.c-image--circular img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.c-imaeg--circular:hover,
.c-image--circular img:hover {
  cursor: pointer;
}

.c-image--circular,
.c-image__description {
  display: inline-block;
}

.c-image__description {
  padding-left: 15px;
  vertical-align: top;
  width: calc(100% - 180px);
}

.c-image__description .u-heading {
  margin-bottom: 7px;
}

.u-layout__item {
  padding-left: 30px;
}

@media screen and (max-width: 1024px) {
  .c-image--circular {
    width: 90px;
    height: 90px;
  }

  .c-image__description {
    width: calc(100% - 150px); 
  }

  .u-layout__item {
    padding-left: 15px;
  }
}

@media screen and (max-width: 600px) {
  .u-center--mobile {
    text-align: center;
  }

  .c-image__wrapper {
    padding-left: 15px;
  }
}

/* General overriden styling */

::ng-deep .mat-tab-label, .mat-tab-link {
  background: #ffff !important;
  color: black !important;
  font-family: 'lato-bold';
  font-size: 16px;
}

::ng-deep .mat-ink-bar {
  background-color: red !important;
}

::ng-deep .mat-tab-label-active {
  color: black !important;
  opacity: 1.0 !important;
}

::ng-deep .tab-wrapper .mat-button-wrapper {
  position: relative;
}

::ng-deep .tab-wrapper .mat-button-wrapper::after {
  content: url('../assets/misc/search-icon.svg');
  height: 13px;
  position: absolute;
  top: 2px;
  right: -30px;
  width: 13px;
}

::ng-deep .tab-wrapper .mat-button {
  font-size: 16px;
  margin-bottom: 5px;
}

::ng-deep .mat-menu-item {
  margin-bottom: 5px;
}

::ng-deep .t-light .u-button--bold:hover .mat-button-focus-overlay {
  background: transparent;
  border-bottom: 2px solid red;
  padding-bottom: 20px;
  width: 120%;
}

::ng-deep .mat-button--setlist:hover .mat-button-focus-overlay {
  background: transparent;
  border-bottom: 2px solid red;
  left: 10px;
  padding-bottom: 20px;
  width: calc(100% + 20px);
}

::ng-deep .top-card,
::ng-deep .top-card.mat-card {
  border: none !important;
  box-shadow: none !important;
  height: 100%;
  overflow: auto !important;
  padding-top: 0 !important;
}

::ng-deep .top-card .mat-select,
::ng-deep .top-card .mat-select-value,
::ng-deep .top-card.mat-card .mat-select,
::ng-deep .top-card.mat-card .mat-select-value {
  background: #ffffff;
  color: black !important;
}

::ng-deep .top-card .mat-select-trigger,
::ng-deep .top-card.mat-card .mat-select-trigger {
  margin-bottom: 15px;
}

::ng-deep .top-card .mat-select-arrow,
::ng-deep .top-card.mat-card .mat-select-arrow {
  border-top-color: black !important;
}

::ng-deep .u-button--bold.mat-button {
  padding-left: 0 !important;
}

::ng-deep .u-button--bold .mat-button-wrapper {
  font-family: 'lato-bold';
  font-size: 16px;
}

::ng-deep .gd-card.top-card.mat-card {
  background: #ffffff;
}

::ng-deep .mat-menu-panel {
  margin-top: 25px !important;
}

::ng-deep .u-date-axis > * {
  max-width: 100% !important;
  overflow: hidden;
}
