<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar>
  <button md-button [mdMenuTriggerFor]="menu">Menu</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item *ngFor="let e of events" (click)="eventSelected(e)">{{ e.date }} {{ e.location }}</button>
  </md-menu>
  <!--img src="https://pbs.twimg.com/profile_images/692441136472784896/KowiUPSf.jpg"-->
  <span>Grateful Dead Live</span>
  <md-toolbar-row *ngIf="selectedEvent">
    <span>{{ selectedEvent.date }} {{ selectedEvent.location }}</span>
  </md-toolbar-row>
</md-toolbar>
<md-grid-list [cols]="cols | async" rowHeight="500px">
  <md-grid-tile *ngIf="venue">
    <md-card class="gd-card">
      <md-card-header>
        <md-card-title>Venue</md-card-title>
        <md-card-subtitle>{{ venue.name }}</md-card-subtitle>
      </md-card-header>
      <md-card-content>({{ venue.sameas }})</md-card-content>
      <img md-card-image src="{{ venue.image }}">
    </md-card>
  </md-grid-tile>
  <md-grid-tile *ngIf="location">
    <md-card class="gd-card">
      <md-card-header>
        <md-card-title>Location</md-card-title>
        <md-card-subtitle>{{ location.name }}</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="{{ location.image }}">
    </md-card>
  </md-grid-tile>
  <md-grid-tile *ngIf="setlist">
    <md-card class="gd-card">
      <md-card-header>
        <md-card-title>Setlist</md-card-title>
      </md-card-header>
      <div *ngFor="let s of setlist">{{ s }}</div>
    </md-card>
  </md-grid-tile>
  <md-grid-tile *ngIf="performers">
    <md-card class="gd-card">
      <md-card-header>
        <md-card-title>Performers</md-card-title>
      </md-card-header>
      <div *ngFor="let p of performers">{{ p.name }} ({{ p.instruments.join(', ') }})</div>
    </md-card>
  </md-grid-tile>
</md-grid-list>